* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bodyRexxTR {
  color: #2f3658;
  background-color: #111010; }
  .bodyRexxTR h1, .bodyRexxTR h2, .bodyRexxTR h3 {
    font-family: 'Righteous', cursive; }
  .bodyRexxTR p {
    font-family: 'Tinos', serif;
    line-height: 1.4rem; }
  .bodyRexxTR a {
    font-family: 'Tinos', serif;
    color: #D6FADB;
    text-decoration: none; }

/*INDEX*/
.portada img {
  width: 100%;
  margin-bottom: 10%; }

/*MENU*/
.navbar {
  background-color: #00C85F; }
  .navbar .container .navbar-collapse .nav-link {
    color: #D6FADB;
    font-size: 1.125rem; }

/*PRODUCTOS*/
.productos {
  margin-top: 2%;
  width: 100%; }
  .productos .prodTitulo {
    text-align: center;
    font-size: 1.875rem;
    color: #D6FADB; }
  .productos .planesContainer {
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly; }
    .productos .planesContainer .planes {
      background: #ffffffbb;
      width: 20vw;
      border-radius: 15px;
      text-align: center;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .productos .planesContainer .planes img {
        width: 100%;
        height: 25vh;
        margin-bottom: 5%; }
      .productos .planesContainer .planes .planTitulo {
        font-size: 1.125rem; }
      .productos .planesContainer .planes .planDescripcion {
        font-size: 1.125rem; }
      .productos .planesContainer .planes .btn {
        border: none;
        border-radius: 8px;
        padding: 2%;
        text-align: center;
        width: 15vw;
        box-shadow: inset 0 0 0 0 #3B4472;
        transition: ease-in-out 0.3s;
        background-color: #00C85F;
        color: #003E00;
        margin: 2% 0; }
        .productos .planesContainer .planes .btn:hover {
          box-shadow: inset 15vw 0 0 0 #3B4472;
          color: #D6FADB; }

/*RexxTV*/
.rexxtv {
  margin-top: 15%;
  display: flex;
  align-content: center;
  justify-content: center; }
  .rexxtv .rexxtvImagen {
    width: 70%; }
  .rexxtv .rexxtvImgMobile {
    display: none; }

/*CONTACTO*/
.footer {
  margin-top: 12%;
  background-color: #00C85F; }
  .footer .contenedorContacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .footer .contenedorContacto .contactame {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between; }
      .footer .contenedorContacto .contactame h2 {
        font-size: 1.25rem; }
      .footer .contenedorContacto .contactame .mail, .footer .contenedorContacto .contactame .wapp {
        display: flex;
        align-items: center;
        padding-top: 7%; }
        .footer .contenedorContacto .contactame .mail .contactoRInfo, .footer .contenedorContacto .contactame .wapp .contactoRInfo {
          margin: 0;
          color: #3B4472; }
      .footer .contenedorContacto .contactame .contactoIcono {
        height: 2vw;
        padding-right: 4%; }
    .footer .contenedorContacto .infocliente {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 2% 0; }
      .footer .contenedorContacto .infocliente h2 {
        font-size: 1.25rem;
        text-align: center;
        padding: 1%;
        margin: 0; }
      .footer .contenedorContacto .infocliente h3 {
        font-size: 1rem;
        text-align: center;
        padding: 1%; }
      .footer .contenedorContacto .infocliente .form {
        padding-bottom: 3%; }
        .footer .contenedorContacto .infocliente .form input {
          width: 15vw;
          height: 4vh;
          padding-left: 4%;
          font-size: 0.75rem;
          border-radius: 7px;
          border: none; }
      .footer .contenedorContacto .infocliente .btn {
        border: none;
        border-radius: 8px;
        padding: 1%;
        text-align: center;
        width: 10vw;
        box-shadow: inset 0 0 0 0 #D6FADB;
        transition: ease-in-out 0.3s;
        background-color: #3B4472;
        color: #D6FADB;
        margin: 2% 0; }
        .footer .contenedorContacto .infocliente .btn:hover {
          box-shadow: inset 10vw 0 0 0 #D6FADB;
          color: #2f3658; }
    .footer .contenedorContacto .contactoRedes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      width: 15vw; }
      .footer .contenedorContacto .contactoRedes .contactoIcono {
        height: 3.5vw; }
      .footer .contenedorContacto .contactoRedes .tiktok {
        height: 4vw; }
  .footer .copy {
    color: black;
    text-align: center; }

/*PAGINAS*/
/* SOBRE MI */
.contenedor .contenedorBiografia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4%;
  padding-top: 4%; }
  .contenedor .contenedorBiografia .biografiaImagen {
    width: 25%; }
  .contenedor .contenedorBiografia .quiensoy, .contenedor .contenedorBiografia .hazdetucuerpo {
    width: 55vw;
    padding: 2%;
    background-color: #3B4472;
    border-radius: 10px; }
    .contenedor .contenedorBiografia .quiensoy .biografiaTituloUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaTituloUp, .contenedor .contenedorBiografia .quiensoy .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcion {
      text-align: justify;
      font-size: 1.125rem;
      color: #D6FADB;
      padding-top: 2%; }
    .contenedor .contenedorBiografia .quiensoy .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcionUp {
      text-align: justify;
      font-size: 1.125rem;
      color: #D6FADB; }
  .contenedor .contenedorBiografia .hazdetucuerpo .biografiaTitulo {
    text-align: justify;
    font-size: 1.125rem;
    color: #D6FADB;
    padding-top: 2%; }
  .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcion {
    text-align: justify;
    font-size: 1.125rem;
    color: #D6FADB; }

/*PLANES*/
.PlanesDeEntrenamiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .PlanesDeEntrenamiento .pDETitulo {
    text-align: center;
    font-size: 1.625rem;
    color: #D6FADB;
    margin-top: 5%; }
  .PlanesDeEntrenamiento .pDESubtitulo {
    text-align: center;
    font-size: 1.5rem;
    color: #D6FADB; }
  .PlanesDeEntrenamiento .planesDetalles {
    width: 80vw;
    background-color: #3B4472;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 15px; }
    .PlanesDeEntrenamiento .planesDetalles .nombrePlan {
      text-align: center;
      font-size: 1.375rem;
      color: #D6FADB;
      margin: 3% 0; }
    .PlanesDeEntrenamiento .planesDetalles .descripcionPlan {
      text-align: center;
      font-size: 1.375rem;
      color: #D6FADB;
      margin-bottom: 3%; }
    .PlanesDeEntrenamiento .planesDetalles .queIncluye {
      list-style-type: none;
      text-align: center;
      font-size: 1.25rem;
      color: #D6FADB; }

/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
  .productos .prodTitulo {
    font-size: 1.625rem; }
  .productos .planesContainer {
    width: 100vw; }
    .productos .planesContainer .planes {
      width: 23vw; }
  /* SECCION 4 FOOTER */
  .footer .contenedorContacto .infocliente .form input {
    width: 18vw; }
  .footer .contenedorContacto .infocliente .btn {
    border: none;
    border-radius: 8px;
    padding: 1%;
    text-align: center;
    width: 12vw; }
    .footer .contenedorContacto .infocliente .btn:hover {
      box-shadow: inset 12vw 0 0 0 #D6FADB; }
  /* SOBRE MI */
  .contenedor .contenedorBiografia {
    padding-top: 6%; }
    .contenedor .contenedorBiografia .biografiaImagen {
      width: 30vw; } }

@media screen and (max-width: 1024px) {
  /* SECCION 2 PRODUCTOS */
  .productos .prodTitulo {
    font-size: 1.75rem; }
  .productos .planesContainer {
    width: 100vw; }
    .productos .planesContainer .planes {
      width: 25vw; }
  /* SECCION 3 REXXTV */
  .rexxtv {
    margin: 12% 0; }
    .rexxtv .rexxtvImagen {
      width: 75%; }
  /* SOBRE MI */
  .contenedor .contenedorBiografia {
    padding-top: 6%;
    padding-bottom: 10%; }
    .contenedor .contenedorBiografia .biografiaImagen {
      width: 40%; }
    .contenedor .contenedorBiografia .quiensoy, .contenedor .contenedorBiografia .hazdetucuerpo {
      width: 43vw; }
      .contenedor .contenedorBiografia .quiensoy .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcionUp {
        line-height: 1.5rem; }
    .contenedor .contenedorBiografia .hazdetucuerpo {
      width: 43vw; }
      .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcion {
        line-height: 1.5rem; } }

@media screen and (max-width: 768px) {
  /* HEADER */
  .navbar .container .navbar-collapse .nav-link {
    font-size: 1.125rem; }
  /* SECCION 1 PRODUCTOS */
  .productos .prodTitulo {
    font-size: 1.5rem; }
  .productos .planesContainer {
    flex-direction: column;
    align-items: center;
    padding-top: 5%; }
    .productos .planesContainer .planes {
      margin-bottom: 8%;
      width: 31vw; }
  /* SECCION REXXTV */
  .rexxtv .rexxtvImagen {
    width: 85%; }
  /* SECCION 4 FOOTER */
  .footer .contenedorContacto .infocliente .form input {
    width: 25vw; }
  .footer .contenedorContacto .infocliente .btn {
    border: none;
    border-radius: 8px;
    padding: 1%;
    text-align: center;
    width: 16vw; }
    .footer .contenedorContacto .infocliente .btn:hover {
      box-shadow: inset 16vw 0 0 0 #D6FADB; }
  /* SOBRE MI */
  .contenedor .contenedorBiografia {
    padding-bottom: 8%;
    padding-top: 5%; }
    .contenedor .contenedorBiografia .biografiaImagen {
      width: 40vw; }
    .contenedor .contenedorBiografia .quiensoy, .contenedor .contenedorBiografia .hazdetucuerpo {
      width: 50vw;
      border: none; }
      .contenedor .contenedorBiografia .quiensoy .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcionUp {
        line-height: 1.6rem; }
    .contenedor .contenedorBiografia .hazdetucuerpo {
      width: 50vw;
      border: none; }
      .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcion {
        line-height: 1.6rem; }
  /* PLANES DE ENTRENAMIENTO */
  .PlanesDeEntrenamiento .pDETitulo {
    font-size: 1.5rem; }
  .PlanesDeEntrenamiento .pDESubtitulo {
    font-size: 1.5rem; }
  .PlanesDeEntrenamiento .planesDetalles .nombrePlan {
    font-size: 1.375rem;
    margin: 5% 0; }
  .PlanesDeEntrenamiento .planesDetalles .descripcionPlan {
    font-size: 1.25rem;
    margin-bottom: 5%;
    padding: 2%; }
  .PlanesDeEntrenamiento .planesDetalles .queIncluye {
    font-size: 1.25rem; } }

@media screen and (max-width: 480px) {
  /* HEADER */
  .navbar .container .navbar-collapse .nav-link {
    font-size: 1rem; }
  .navbar-brand img {
    height: 10vh; }
  /* SECCION 1 PRODUCTOS */
  .productos .prodTitulo {
    font-size: 1.25rem; }
  .productos .planesContainer {
    padding-top: 10%; }
    .productos .planesContainer .planes {
      width: 50vw;
      border-radius: 12px;
      margin-bottom: 12%; }
      .productos .planesContainer .planes .btn {
        border: none;
        border-radius: 8px;
        padding: 2%;
        text-align: center;
        width: 30vw; }
        .productos .planesContainer .planes .btn:hover {
          box-shadow: inset 30vw 0 0 0 #3B4472; }
  /* SECCION REXXTV */
  .rexxtv .rexxtvImagen {
    display: none; }
  .rexxtv .rexxtvImgMobile {
    display: initial;
    width: 90%; }
  /* FOOTER */
  .footer .contenedorContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .footer .contenedorContacto .contactame {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 10%;
      padding-bottom: 8%; }
      .footer .contenedorContacto .contactame h2 {
        font-size: 1.125rem; }
      .footer .contenedorContacto .contactame .contactoIcono {
        height: 4vw; }
    .footer .contenedorContacto .infocliente {
      padding-bottom: 12%; }
      .footer .contenedorContacto .infocliente .form input {
        width: 40vw; }
      .footer .contenedorContacto .infocliente .btn {
        border: none;
        border-radius: 8px;
        padding: 1%;
        text-align: center;
        width: 28vw; }
        .footer .contenedorContacto .infocliente .btn:hover {
          box-shadow: inset 28vw 0 0 0 #D6FADB; }
    .footer .contenedorContacto .contactoRedes {
      width: 25vw;
      padding-bottom: 8%; }
      .footer .contenedorContacto .contactoRedes .contactoIcono {
        height: 6vw; }
      .footer .contenedorContacto .contactoRedes .tiktok {
        height: 6.5vw; }
  .footer .copy {
    font-size: 0.875rem; }
  /* SOBRE MI */
  .contenedor .contenedorBiografia {
    display: flex;
    flex-direction: column;
    padding-bottom: 6%;
    padding-top: 5%; }
    .contenedor .contenedorBiografia .biografiaImagen {
      width: 80vw;
      padding-bottom: 5%; }
    .contenedor .contenedorBiografia .quiensoy, .contenedor .contenedorBiografia .hazdetucuerpo {
      width: 90vw; }
      .contenedor .contenedorBiografia .quiensoy .biografiaTituloUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaTituloUp, .contenedor .contenedorBiografia .quiensoy .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcion {
        text-align: center;
        font-size: 1rem;
        color: #D6FADB; }
      .contenedor .contenedorBiografia .quiensoy .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcionUp {
        line-height: 1.4rem; }
    .contenedor .contenedorBiografia .hazdetucuerpo {
      width: 90vw;
      margin-bottom: 5%; }
      .contenedor .contenedorBiografia .hazdetucuerpo .biografiaTitulo {
        text-align: center;
        font-size: 1rem;
        color: #D6FADB; }
      .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcion {
        line-height: 1.4rem; }
  /*PLANES DE ENTRENAMIENTO*/
  .PlanesDeEntrenamiento .pDETitulo {
    text-align: center;
    font-size: 1.5rem;
    color: #D6FADB;
    margin-top: 8%; }
  .PlanesDeEntrenamiento .pDESubtitulo {
    text-align: center;
    font-size: 1.375rem;
    color: #D6FADB; }
  .PlanesDeEntrenamiento .planesDetalles {
    width: 85vw;
    padding: 2%;
    margin-top: 10%; }
    .PlanesDeEntrenamiento .planesDetalles .nombrePlan {
      text-align: center;
      font-size: 1.25rem;
      color: #D6FADB;
      margin: 5% 0; }
    .PlanesDeEntrenamiento .planesDetalles .descripcionPlan {
      text-align: center;
      font-size: 1.25rem;
      color: #D6FADB;
      margin-bottom: 5%; }
    .PlanesDeEntrenamiento .planesDetalles .queIncluye {
      text-align: center;
      font-size: 1.125rem;
      color: #D6FADB;
      padding-left: 0; } }

@media screen and (max-width: 320px) {
  .navbar-brand img {
    height: 8vh; }
  /* SECCION 1 PRODUCTOS */
  .productos .prodTitulo {
    font-size: 1rem; }
  .productos .planesContainer {
    padding-top: 10%; }
    .productos .planesContainer .planes {
      margin-bottom: 13%;
      width: 75vw; }
      .productos .planesContainer .planes .btn {
        border: none;
        border-radius: 8px;
        padding: 2%;
        text-align: center;
        width: 40vw; }
        .productos .planesContainer .planes .btn:hover {
          box-shadow: inset 40vw 0 0 0 #3B4472; }
  /* SECCION 4 FOOTER */
  .footer .contenedorContacto .contactame {
    padding-top: 15%;
    padding-bottom: 10%; }
    .footer .contenedorContacto .contactame .contactoIcono {
      height: 6vw; }
  .footer .contenedorContacto .infocliente {
    padding-bottom: 15%; }
    .footer .contenedorContacto .infocliente h2 {
      font-size: 1.125rem;
      text-align: center;
      padding: 1%;
      margin: 0; }
    .footer .contenedorContacto .infocliente .form input {
      width: 50vw; }
    .footer .contenedorContacto .infocliente .btn {
      border: none;
      border-radius: 8px;
      padding: 1%;
      text-align: center;
      width: 35vw; }
      .footer .contenedorContacto .infocliente .btn:hover {
        box-shadow: inset 35vw 0 0 0 #D6FADB; }
  .footer .contenedorContacto .contactoRedes {
    width: 40vw;
    padding-bottom: 10%; }
    .footer .contenedorContacto .contactoRedes .contactoIcono {
      height: 10vw; }
    .footer .contenedorContacto .contactoRedes .tiktok {
      height: 10.5vw; }
  .footer .copy {
    font-size: 0.625rem; }
  /* SOBRE MI */
  .contenedor .contenedorBiografia {
    padding-bottom: 8%;
    padding-top: 5%; }
    .contenedor .contenedorBiografia .quiensoy, .contenedor .contenedorBiografia .hazdetucuerpo {
      width: 90vw;
      background-color: #111010; }
      .contenedor .contenedorBiografia .quiensoy .biografiaTituloUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaTituloUp, .contenedor .contenedorBiografia .quiensoy .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcion {
        text-align: center;
        font-size: 1rem;
        color: #D6FADB; }
      .contenedor .contenedorBiografia .quiensoy .biografiaDescripcionUp, .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcionUp {
        font-size: 1rem;
        line-height: 1.3rem; }
    .contenedor .contenedorBiografia .hazdetucuerpo {
      width: 90vw;
      background-color: #111010; }
      .contenedor .contenedorBiografia .hazdetucuerpo .biografiaTitulo {
        text-align: center;
        font-size: 1rem;
        color: #D6FADB; }
      .contenedor .contenedorBiografia .hazdetucuerpo .biografiaDescripcion {
        font-size: 1rem;
        line-height: 1.3rem; }
  /*PLANES DE ENTRENAMIENTO*/
  .PlanesDeEntrenamiento .pDETitulo {
    text-align: center;
    font-size: 1.25rem;
    color: #D6FADB;
    margin-top: 12%; }
  .PlanesDeEntrenamiento .pDESubtitulo {
    text-align: center;
    font-size: 1.125rem;
    color: #D6FADB; }
  .PlanesDeEntrenamiento .planesDetalles {
    margin-top: 12%; }
    .PlanesDeEntrenamiento .planesDetalles .nombrePlan {
      text-align: center;
      font-size: 1.125rem;
      color: #D6FADB;
      margin: 7% 0; }
    .PlanesDeEntrenamiento .planesDetalles .descripcionPlan {
      text-align: center;
      font-size: 1rem;
      color: #D6FADB;
      margin-bottom: 7%; }
    .PlanesDeEntrenamiento .planesDetalles .queIncluye {
      text-align: center;
      font-size: 1rem;
      color: #D6FADB; } }
