/*CONTACTO*/
.contacto{
    padding: 2%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color:#00C85F;
   

    .contactoright{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        color: #003E00;

        .mail, .wapp{
            display: flex;
            align-items: center;
            padding-top: 7%;

            .contactoRInfo{
                margin: 0;
            }
        }

        .contactoIcono{
           height: 2vw;
           padding-right: 4%;
        }
    }


    .contactoleft{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 12vw;

        .contactoIcono{
            height: 3.5vw;
        }
    }
    
}