

@mixin bio($align, $font, $color) {
    text-align: $align;
    font-size: $font;
    color: $color;
}

@mixin flex($display, $dir, $al-items, $just-cont){
    display:$display;
    flex-direction: $dir;
    align-items: $al-items;
    justify-content: $just-cont;
}

@mixin textocard($size, $txtalign, $margintop){
    font-size: $size;    
    text-align: $txtalign;
    margin-top: $margintop;
}

@mixin btn($border, $radius, $pad, $txtalign, $size){
    border: $border;
    border-radius: $radius;
    padding: $pad;
    text-align: $txtalign;
    width: $size;
}