/*MENU*/


.navbar{
    background-color: $colorDetashes;

    .container{
        .navbar-collapse{
            .nav-link{
                color: $letraZpezial;
                font-size: $size18;

            }
        }
    }
}