/*MENU*/


.navbar{
    background-color: $colorDetashes;

    .container{
        .navbar-collapse{
            .nav-link{
                color: $lettering;
                font-size: 1.3rem;

            }
        }
    }
}

// .header{
//     position:sticky;
//     top: 0;
//     background-color:#00C85F;
//     display:flex;
//     align-items: center;
// }

// .menu{
//     width: 100vw;
// }

// .menuOpciones{
//     list-style-type: none;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;

// }
// .menuOpciones li{
//    display: inline-block;
// }

// .menuOpciones li a{
//     font-size: 1.16rem;
// }