/*PRODUCTOS*/
.productos{
    margin-top: 2%;
    width: 100%;

    .prodTitulo{        
        text-align: center;
        font-size: $size30;
        color: $letraZpezial;
    }

    .planesContainer{        
        padding-top: 3%;
        display: flex;
        justify-content: space-evenly;

        .planes {
            background:$colorCard;
            width: 20vw;      
            border-radius: 15px;                    
            text-align: center;
            overflow: hidden;
            @include flex(flex, column, center, space-between);


            img{
                width: 100%;
                height: 25vh;
                margin-bottom: 5%;
            }
            
            .planTitulo{     
                font-size: $size18;
            }

            .planDescripcion{
                font-size: $size18;        
            }
        

            .btn{
                @include btn(none,8px, 2%, center, 15vw);
                box-shadow: inset 0 0 0 0 $colorAlt;
                transition: ease-in-out 0.3s;
                background-color: $colorDetashes;
                color: $lettering;
                margin: 2% 0;             
    
                &:hover{           
                    box-shadow: inset 15vw 0 0 0 $colorAlt;
                    color: $letraZpezial;
                }
            }
        }
    }
}