/*PRODUCTOS*/
.productos{
    margin-top: 2%;
    width: 100%;

    .prodTitulo{        
        text-align: center;
        font-size: $size30;
        color: $letraZpezial;
    }

    .contenedorCard{        
        padding-top: 3%;
        display: flex;
        justify-content: space-evenly;

        .planesCard {
            background-color:$colorCard;
            width: 18vw;      
            border-radius: 12px;
            padding: 0.5%;
            overflow: hidden;

            img{
                width: 100%;
                height: 25vh;
                border-radius: 12px;
                margin-bottom: 5%;

                object-fit: cover;
            }

            .planTitulo{
                @include textocard($size18, center, 4%);
                padding-top: 2%;
            }

            .planDescripcion{
                @include textocard($size18, center, inherit);  
                padding: 4% 2% 6%;
            }
        

            .boton{
                @include btn(none,8px, 2%, center, 12vw);
                box-shadow: inset 0 0 0 0 $colorAlt;
                transition: ease-in-out 0.3s;
                background-color: $colorDetashes;
                color: $lettering;
                margin: 0 auto; 
                display: block;          
    
                &:hover{           
                    box-shadow: inset 12vw 0 0 0 $colorAlt;
                    color: $letraZpezial;
                }

                a{
                    font-weight: 501;
                }
            }   
        }
    }
}