
@media screen and (max-width: 1200px ){

    .productos{        

        .prodTitulo{
            font-size: $size26;
        }

        .contenedorCard{
            .planesCard {
                width: 22vw; 
            }   
        }
    }

    /* SECCION 4 FOOTER */
    .footer{
        .contenedorContacto{
            .infocliente{
                .form{
                    input{
                        width: 18vw;
                    }
                }

                .btn{
                    @include btn(none,8px, 1%, center, 12vw);

                    &:hover{           
                        box-shadow: inset 12vw 0 0 0 $letraZpezial;
                    }
                }
            }
        } 
    }
    

    /* SOBRE MI */

    .contenedor{
        .contenedorBiografia{
            padding-top: 6%;
    
            .biografiaImagen{
                width: 30vw;
            }
        }
    }   

    /*PLANES*/

    .PlanesDeEntrenamiento{
        .planesDetalles{
            height: 36vh;
        }
    }
}



@media screen and (max-width: 1024px ){

    /* SECCION 2 PRODUCTOS */
    .productos{
        .contenedorCard{
            .planesCard {
                width: 24vw;
                padding: 0.6%;
            }
        }
    }

        
    /* SECCION 3 REXXTV */
    .rexxtv{
        margin: 12% 0;
        .rexxtvImagen{
            width: 75%;
        }
    } 

    /* SECCION 4 FOOTER */
    .footer{
        .contenedorContacto{
            .infocliente{
                .form{
                    input{
                        width: 21vw;
                    }
                }
            }
        }
    }

    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{ 
            padding-top: 6%;
            padding-bottom: 10%;
        
            .biografiaImagen{
                width: 40%;
             }
        
             .quiensoy{
                width: 43vw;
                
                .biografiaDescripcion{                   
                    line-height: 1.5rem;
                }
            }
        }
    }

     /*PLANES*/

     .PlanesDeEntrenamiento{
        .ContenedorPDE{
            .planesDetalles{
                height: 45vh;
    
                .nombrePlan{
                    font-size: $size18;
                }
        
                .descripcionPlan{
                    font-size: $size18;
                }
        
                .queIncluye{
                    font-size: $size16;
                }
            }
        }   
    }
} 



@media screen and (max-width: 768px) {
    
    /* HEADER */
    .navbar{       
    
        .container{
            .navbar-collapse{
                .nav-link{
                    font-size: $size18;    
                }
            }
        }
    }
    
    /* SECCION 1 PRODUCTOS */
    .productos{    

        .prodTitulo{
            font-size: $size24; 
        }

        .contenedorCard{
            flex-direction: column;

            .planesCard {
                width: 40vw;
                margin: 0 auto;
                margin-top: 8%;
                padding: 1%;

                .planTitulo{
                    font-size: $size20;
                }
    
                .planDescripcion{
                    font-size: $size20;
                }
            
                .btn{
                    @include btn(none,8px, 2%, center, 23vw);

                    &:hover{           
                        box-shadow: inset 23vw 0 0 0 $colorAlt;
                    }
                }
            }
        }
    }
   

    
    /* SECCION REXXTV */
    .rexxtv{
        .rexxtvImagen{
            width: 85%;
        }   
    }
    

    /* SECCION 4 FOOTER */
    .footer{
        .contenedorContacto{
            .infocliente{
                .form{
                    input{
                        width: 27vw;
                        height: 3vh;
                    }
                }

                .btn{
                    @include btn(none,8px, 1%, center, 16vw);

                    &:hover{           
                        box-shadow: inset 16vw 0 0 0 $letraZpezial;
                    }
                }
            }
        }
    }

    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{
            flex-direction: column;
            padding-bottom: 8%;
            padding-top: 5%;

            .biografiaImagen{
                width: 40vw;
                margin-bottom: 5%;
            }

            .quiensoy{
                width: 70vw;
                border: none;

                .biografiaTitulo{
                    text-align: center;
                }

                .biografiaDescripcion{
                    line-height: 1.6rem;
                }
            }
        }
    }

    /* PLANES */

    .PlanesDeEntrenamiento{

        .contenedorTitPDE
            .pDETitulo{
                font-size: $size24;
            }

            .pDESubtitulo{
                font-size: $size22;
            }

        .ContenedorPDE{
            flex-direction: column;

            .planesDetalles{
                width: 50vw;
                height: 40vh;
                border-bottom: 3px solid $colorAlt;
                
                .nombrePlan{
                    font-size: $size20;
                }
        
                .descripcionPlan{
                    font-size: $size20;
                }
        
                .queIncluye{
                    font-size: $size18;
                }
            }
        }   
    }
}