
@media screen and (max-width: 1200px ){

    .productos{        

        .prodTitulo{
            font-size: $size26;
        }

        .planesContainer{
            width: 100vw;

            .planes{
                width: 23vw;
            }             
        } 
    }

    /* SECCION 4 FOOTER */
    .footer{
        .contenedorContacto{
            .infocliente{
                .form{
                    input{
                        width: 18vw;
                    }
                }

                .btn{
                    @include btn(none,8px, 1%, center, 12vw);

                    &:hover{           
                        box-shadow: inset 12vw 0 0 0 $letraZpezial;
                    }
                }
            }
        } 
    }
    

    /* SOBRE MI */

    .contenedor{
        .contenedorBiografia{
            padding-top: 6%;
    
            .biografiaImagen{
                width: 30vw;
            }
        }
    }   
}



@media screen and (max-width: 1024px ){

    /* SECCION 2 PRODUCTOS */
    .productos{
        .prodTitulo{
            font-size: $size28;
        }

        .planesContainer{
            width: 100vw;

            .planes{
                width: 25vw;
            }
        }
    }

        
    /* SECCION 3 REXXTV */
    .rexxtv{
        margin: 12% 0;
        .rexxtvImagen{
            width: 75%;
        }
    }  

    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{ 
            padding-top: 6%;
            padding-bottom: 10%;
        
            .biografiaImagen{
                width: 40%;
             }
        
             .quiensoy{
                width: 43vw;
                
                .biografiaDescripcionUp{                   
                    line-height: 1.5rem;
                }
            }
        
            .hazdetucuerpo{
                width: 43vw;
                
                .biografiaDescripcion{
                    line-height: 1.5rem;
                }
            }
        }
    }
} 



@media screen and (max-width: 768px) {
    
    /* HEADER */
    .navbar{       
    
        .container{
            .navbar-collapse{
                .nav-link{
                    font-size: $size18;    
                }
            }
        }
    }
    
    /* SECCION 1 PRODUCTOS */
    .productos{    

        .prodTitulo{
            font-size: $size24; 
        }

        .planesContainer{            
            flex-direction: column;
            align-items: center;
            padding-top: 5%;
        
            .planes{
                margin-bottom: 8%;
                width: 31vw;
            }
        }
    }
   

    
    /* SECCION REXXTV */
    .rexxtv{
        .rexxtvImagen{
            width: 85%;
        }   
    }
    

    /* SECCION 4 FOOTER */
    .footer{
        .contenedorContacto{
            .infocliente{
                .form{
                    input{
                        width: 25vw;
                    }
                }

                .btn{
                    @include btn(none,8px, 1%, center, 16vw);

                    &:hover{           
                        box-shadow: inset 16vw 0 0 0 $letraZpezial;
                    }
                }
            }
        }
    } 



    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{
            padding-bottom: 8%;
            padding-top: 5%;

            .biografiaImagen{
                width: 40vw;
            }

            .quiensoy{
                width: 50vw;
                border: none;

                .biografiaDescripcionUp{
                    line-height: 1.6rem;
                }
            }
        
            .hazdetucuerpo{
                width: 50vw;
                border: none;

                .biografiaDescripcion{
                    line-height: 1.6rem;
                }
            }
        }
    }

    /* PLANES DE ENTRENAMIENTO */

    .PlanesDeEntrenamiento{
        .pDETitulo{
            font-size: $size24;
        }

        .pDESubtitulo{
            font-size: $size24;
        }

        .planesDetalles{    
            .nombrePlan{
                font-size: $size22;
                margin: 5% 0;
            }
    
            .descripcionPlan{
                font-size: $size20;
                margin-bottom: 5%;
                padding: 2%;
            }
    
            .queIncluye{
                font-size: $size20;
            }
        }
    }
}