@media screen and (max-width: 480px) {

    /* HEADER */
    .navbar{       
    
        .container{
            .navbar-collapse{
                .nav-link{
                    font-size: $size16;
                }
            }
        }
    }
    
    .navbar-brand{
        img{
            height: 10vh;
        }
    }


    
    /* SECCION 1 PRODUCTOS */
    .productos{    

        .prodTitulo{
            font-size: $size20;
        }

        .contenedorCard{
            .planesCard{
                width: 48vw;
                padding: 1.2%;

                img{
                    height: 45vh;
                }

                .planTitulo{
                    font-size: $size16;
                }

                .planDescripcion{
                    font-size: $size16;
                    padding: 0 2% 8%;
                    margin: 0;
                }

                .btn{
                    @include btn(none,8px, 2%, center, 24vw);         
        
                    &:hover{           
                        box-shadow: inset 24vw 0 0 0 $colorAlt;
                    } 
                } 
            }
        }
    }
   

    
    /* SECCION REXXTV */
    .rexxtv{   

        .rexxtvImagen{
            display: none;
        }
        
        .rexxtvImgMobile{
            display:initial;
            width: 90%;
        }
    }
    

    /* FOOTER */
    
    .footer{
        .contenedorContacto{
            @include flex(flex, column, center, space-evenly);

            .contactame{
                @include flex(flex, column, center, space-between);
                padding-top: 10%;
                padding-bottom: 8%;

               h2{
                   font-size: $size18;
                }
       
                .contactoIcono{
                   height: 5vw;
                }
            }

            .infocliente{
                padding-bottom: 12%;

                .form{
                    input{
                        width: 43vw;
                        height: 10vh;
                    }
                }

                .btn{
                    @include btn(none,8px, 1%, center, 28vw);

                    &:hover{           
                        box-shadow: inset 28vw 0 0 0 $letraZpezial;
                    }
                }
            }

            .contactoRedes{
                width: 35vw;
                padding-bottom: 8%;

                .contactoIcono{
                    height: 8vw;
                }
       
                .tiktok{
                    height: 8.5vw;
               }
            }
        }

        .copy{
            font-size: $size14;
        }
    }  


    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{
            padding-bottom: 6%;
            padding-top: 5%;

            .biografiaImagen{
                width: 60vw;
                padding-bottom: 5%;
            }

            .quiensoy{
                width: 80vw;               

                .biografiaTitulo{
                    @include bio(center, $size16, $letraZpezial);
                }

                .biografiaDescripcion{
                    @include bio(center, $size16, $letraZpezial);
                    line-height: 1.4rem;
                }
            }
        }
    }


    /*PLANES*/

    .PlanesDeEntrenamiento{
        .contenedorTitPDE{
            .pDETitulo{
                font-size: $size18;
            }
    
            .pDESubtitulo{
                font-size: $size18;
            }
        }
        
        .ContenedorPDE{
            margin-top: 8%;

            .planesDetalles{
                width: 80vw;
                height: 100vh;
    
                .nombrePlan{
                    font-size: $size18;
                }
    
                .descripcionPlan{
                    font-size: $size18;
                }
    
                .queIncluye{
                    font-size: $size16;
                }
            }
        }  
    }
}  




@media screen and (max-width: 320px) {

    .navbar-brand{
        img{
            height: 8vh;
        }
    }

     /* SECCION 1 PRODUCTOS */
     .productos{    
        .prodTitulo{
            font-size: $size16;
        }

        .contenedorCard{
            .planesCard{
                width: 63vw;
                padding: 1.5%;

                img{
                    height: 40vh;
                }

                .planTitulo{
                    font-size: $size16;
                }

                .planDescripcion{
                    font-size: $size16;
                    padding: 0 1% 8%;
                    margin: 0;
                }

                .btn{
                    @include btn(none,8px, 2%, center, 35vw);         
        
                    &:hover{           
                        box-shadow: inset 35vw 0 0 0 $colorAlt;
                    } 
                } 
            }
        }
    }


    /* SECCION 4 FOOTER */
    
    .footer{
        .contenedorContacto{

            .contactame{
                padding-top: 15%;
                padding-bottom: 12%;
       
                .contactoIcono{
                   height: 7vw;
                }
            }

            .infocliente{
                padding-bottom: 17%;

                h2{
                    @include textocard($size18, center, 1%);
                    margin: 0;
                }

                .form{
                    input{
                        width: 60vw;
                        height: 7vh;
                    }
                }

                .btn{
                    @include btn(none,8px, 1%, center, 35vw);

                    &:hover{           
                        box-shadow: inset 35vw 0 0 0 $letraZpezial;
                    }
                }
            }

            .contactoRedes{
                width: 42vw;
                padding-bottom: 12%;

                .contactoIcono{
                    height: 11vw;
                }
       
                .tiktok{
                    height: 11.5vw;
               }
            }
        }

        .copy{
            font-size: $size10;
        }
    }



    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{
            padding-bottom: 8%;
            padding-top: 5%;

            .quiensoy{
                width: 80vw;

                .biografiaTitulo{
                    @include bio(center, $size14, $letraZpezial);
                }

                .biografiaDescripcion{
                    font-size: $size14;
                    line-height: 1.3rem;
                }
            }
        }
    }


    /*PLANES DE ENTRENAMIENTO*/

     /*PLANES*/

     .PlanesDeEntrenamiento{
        .contenedorTitPDE{
            .pDETitulo{
                font-size: $size16;
                margin-top: 12%;
            }
    
            .pDESubtitulo{
                font-size: $size16;
            }
        }
        
        .ContenedorPDE{
            margin-top: 8%;

            .planesDetalles{
                height: 75vh;
                margin-top: 12%;
    
                .nombrePlan{
                    font-size: $size16;
                    margin: 7% 0;
                }
    
                .descripcionPlan{
                    font-size: $size16;
                }
    
                .queIncluye{
                    font-size: $size14;
                }
            }
        }
    }
}