@media screen and (max-width: 480px) {

    /* HEADER */
    .navbar{       
    
        .container{
            .navbar-collapse{
                .nav-link{
                    font-size: $size16;
                }
            }
        }
    }
    
    .navbar-brand{
        img{
            height: 10vh;
        }
    }


    
    /* SECCION 1 PRODUCTOS */
    .productos{    

        .prodTitulo{
            font-size: $size20;
        }

        .planesContainer{
            padding-top: 10%;
            
            .planes{
                width: 50vw;
                border-radius: 12px;
                margin-bottom: 12%;

                .btn{
                    @include btn(none,8px, 2%, center, 30vw);
    
                    &:hover{           
                        box-shadow: inset 30vw 0 0 0 $colorAlt;
                    }
                }
            }
        }
    }
   

    
    /* SECCION REXXTV */
    .rexxtv{   

        .rexxtvImagen{
            display: none;
        }
        
        .rexxtvImgMobile{
            display:initial;
            width: 90%;
        }
    }
    

    /* SECCION 4 FOOTER */
    
    .footer{
        .contenedorContacto{
            @include flex(flex, column, center, space-evenly);

            .contactame{
                @include flex(flex, column, flex-start, space-between);
                padding-top: 5%;
                padding-bottom: 8%;

               h2{
                   font-size: $size18;
                }
       
                .contactoIcono{
                   height: 4vw;
                }
            }

            .infocliente{
                padding-bottom: 12%;

                .form{
                    input{
                        width: 40vw;
                    }
                }

                .btn{
                    @include btn(none,8px, 1%, center, 28vw);

                    &:hover{           
                        box-shadow: inset 28vw 0 0 0 $letraZpezial;
                    }
                }
            }

            .contactoRedes{
                width: 25vw;
                padding-bottom: 8%;

                .contactoIcono{
                    height: 6vw;
                }
       
                .tiktok{
                    height: 6.5vw;
               }
            }
        }

        .leyenda{
            font-size: $size14;
        }
    }  


    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{
            display: flex;
            flex-direction: column;
            padding-bottom: 6%;
            padding-top: 5%;

            .biografiaImagen{
                width: 80vw;
                padding-bottom: 5%;
            }

            .quiensoy{
                width: 90vw;               

                .biografiaTituloUp{
                    @include bio(center, $size16, $letraZpezial);
                }

                .biografiaDescripcionUp{
                    @extend .biografiaTituloUp;
                    line-height: 1.4rem;
                }
            }
        
            .hazdetucuerpo{
                width: 90vw;
                margin-bottom: 5%;              

                .biografiaTitulo{
                    @include bio(center, $size16, $letraZpezial);
                }

                .biografiaDescripcion{
                    @extend .biografiaTituloUp;
                    line-height: 1.4rem;
                }                
            }
        }
    }


    /*PLANES DE ENTRENAMIENTO*/

    .PlanesDeEntrenamiento{

        .pDETitulo{
            @include bio(center, $size24, $letraZpezial);
            margin-top: 8%;
        }

        .pDESubtitulo{
            @include bio(center, $size22, $letraZpezial);
        }

        .planesDetalles{
            width: 85vw;
            padding:2%;
            margin-top: 10%;

            .nombrePlan{
                @include bio(center, $size20, $letraZpezial);
                margin: 5% 0;
            }

            .descripcionPlan{
                @include bio(center, $size20, $letraZpezial);
                margin-bottom: 5%;
            }

            .queIncluye{
                @include bio(center, $size20, $letraZpezial);
                padding-left: 0;
            }
        }
    }
}  




@media screen and (max-width: 320px) {

    .navbar-brand{
        img{
            height: 8vh;
        }
    }

     /* SECCION 1 PRODUCTOS */
     .productos{    

        .prodTitulo{
            font-size: $size16;
        }

        .planesContainer{
            padding-top: 10%;

            .planes{
                margin-bottom: 13%;
                width: 75vw;

                .btn{
                    @include btn(none,8px, 2%, center, 40vw);
    
                    &:hover{           
                        box-shadow: inset 40vw 0 0 0 $colorAlt;
                    }
                }
            }
        }
    }
   


    /* SECCION 4 FOOTER */
    
    .footer{
        .contenedorContacto{

            .contactame{
                padding-top: 8%;
                padding-bottom: 10%;
       
                .contactoIcono{
                   height: 6vw;
                }
            }

            .infocliente{
                padding-bottom: 15%;

                h2{
                    @include textocard($size18, center, 1%);
                    margin: 0;
                }

                .form{
                    input{
                        width: 50vw;
                    }
                }

                .btn{
                    @include btn(none,8px, 1%, center, 35vw);

                    &:hover{           
                        box-shadow: inset 35vw 0 0 0 $letraZpezial;
                    }
                }
            }

            .contactoRedes{
                width: 40vw;
                padding-bottom: 10%;

                .contactoIcono{
                    height: 10vw;
                }
       
                .tiktok{
                    height: 10.5vw;
               }
            }
        }

        .leyenda{
            font-size: $size12;
        }
    }



    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{
            padding-bottom: 8%;
            padding-top: 5%;

            .quiensoy{
                width: 90vw;
                background-color:$colorFondo;

                .biografiaTituloUp{
                    @include bio(center, $size16, $letraZpezial);
                }

                .biografiaDescripcionUp{
                    font-size: $size16;
                    line-height: 1.3rem;
                }
            }
        
            .hazdetucuerpo{
                width: 90vw;
                background-color:$colorFondo;           

                .biografiaTitulo{
                    @include bio(center, $size16, $letraZpezial);
                }

                .biografiaDescripcion{
                    font-size: $size16;
                    line-height: 1.3rem;
                }
            }
        }
    }


    /*PLANES DE ENTRENAMIENTO*/

    .PlanesDeEntrenamiento{

        .pDETitulo{
            @include bio(center, $size20, $letraZpezial);
            margin-top: 12%;
        }

        .pDESubtitulo{
            @include bio(center, $size18, $letraZpezial);
        }

        .planesDetalles{
            margin-top: 12%;

            .nombrePlan{
                @include bio(center, $size18, $letraZpezial);
                margin: 7% 0;
            }

            .descripcionPlan{
                @include bio(center, $size16, $letraZpezial);
                margin-bottom: 7%;
            }

            .queIncluye{
                @include bio(center, $size16, $letraZpezial);
            }
        }
    }
}