@media screen and (max-width: 480px) {
    /* SECCION 1 PRODUCTOS */
    .productos{    

        h1, h2{
            font-size: 1.15rem;
        }

        .planesContainer{

            .planes{
                padding: 4%;
                margin-bottom: 5%;
                width: 55vw;
                border-radius: 12px;
                 
                .queIncluye{                    
                    padding-bottom: 7%;
                }

                .botonSolicitar{
                    width: 40vw;
                    margin-left: 6%;
                }
            }
        }
    }
   

    
    /* SECCION REXXTV */
    .rexxtv{

        .rexxtvContainerLeft{          

            .rexxtvTitulo{              
                width: 35vw;

                h2{
                    font-size: 1.45rem;
                }
            }

            .rexxtvTexto{
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }

        .rexxtvImagen{
            width: 80vw;
        }
            
                    
    }
    

    /* SECCION 4 CONTACTO */
    
    .contacto{
        padding: 2%;
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color:#00C85F;
       
    
        .contactoright{
            font-size: 0.9rem;
    
            .contactoIcono{
               height: 3vw;
               padding-right: 4%;
            }
        }

        .contactoleft{           
            width: 18vw;
    
            .contactoIcono{
                height: 5vw;
            }
        }
    }

    .footer{
        p{
            font-size: 0.9rem;
        }
    }
        


    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{
            display: flex;
            flex-direction: column;
            padding-bottom: 6%;
            padding-top: 5%;

            .biografiaImagen{
                width: 60vw;
                padding-bottom: 5%;
            }

            .quiensoy{
                width: 100vw;               

                .biografiaTitulo{
                    font-size: 1rem;
                }

                .biografiaDescripcion{
                    font-size: 1rem;
                    line-height: 1.35rem;
                }
            }
        
            .hazdetucuerpo{
                width: 100vw;                

                .biografiaTitulo{
                    font-size: 1rem;
                }

                .biografiaDescripcion{
                    font-size: 1rem;
                    line-height: 1.35rem;
                }                
            }

            .biografiaImagen{
                width: 60vw;
                padding-top: 5%;
            }
        }
    }
    

/* SOLICITAR */
    .contactame{
        padding: 8% 0;
        margin-bottom: 8%;

        .contactameForm{
            width: 75vw;

            h1{               
                font-size: 1.2rem;                
            }
    
            p{                
                font-size: 1rem;
                line-height: 1.35rem;
            }

            .infocliente{
                width: 55vw;                
            }

            .form{                
                padding-left: 15%;
            }
            
            .form input{
                width: 40vw; 
                height: 7vh;
                padding-left: 4%;         
            }

            .form textarea{
                width: 40vw;
                height: 25vh;
                padding: 4%;  
            }
            
            .botones input[type="submit"] {
                width: 18vw;
                height: 8vh;
            }
        }
    }
}




@media screen and (max-width: 320px) {

     /* SECCION 1 PRODUCTOS */
     .productos{    

        h1{
            font-size: 1rem;
        }

        h2{
            font-size: 1rem;
            padding-bottom: 8%;
        }

        .planesContainer{

            .planes{
                border-radius: 12px;
                padding: 4%;
                margin-bottom: 10%;
                width: 75vw;

                .planTitulo{
                    font-size: 1.1rem;
                    padding-top: 2%;
                }
                
                .botonSolicitar{
                    width: 50vw;
                    margin-left: 10%;
                }
            }
        }
    }
   

    
    /* SECCION REXXTV */
    .rexxtv{

        .rexxtvContainerLeft{
            width: 65vw;
            margin-top: 4%;

            .rexxtvTitulo{              
                width: 45vw;

                h2{
                    font-size: 1.16rem;
                    padding: 0;
                }

                .botonEnvivo{
                    @keyframes pulse {
                        0% {
                            transform: scale(1);
                        }
                        50%{
                            transform: scale(1.1);
                        }
                        
                        75%{
                            transform: scale(1.2);
                        }
                        100%{
                            transform: scale(1);
                        }
                    }
                }
            }

            .rexxtvTexto{
                font-size: 1rem;
                line-height: 1.35rem;
            }
        }                      
    }
    

    /* SECCION 4 CONTACTO */
    
    .contacto{
        padding: 2%;
        margin-top: 8%;
        display: flex;
        align-items: center;
        flex-direction: column;
       
        .contactoright{
            font-size: 0.9rem;

            h2{
                font-size: 0.95rem;
                padding-top: 5%;
                padding-bottom: 4%;
                margin:0;
            }

            .mail{
                padding-top: 0;
                padding: bottom 5%;

                .contactoIcono{
                    height: 5vw;
                    padding-right: 5%;                   
                 }
            }

            .wapp{
                padding-top: 0;
                padding: bottom 5%;

                .contactoIcono{
                    height: 5vw;
                    padding-right: 5%;                   
                 }
            }
        }
        
        .contactoleft{           
            width: 50vw;
            padding: 6% 15% 8% 0;
            justify-content: space-evenly;
    
            .contactoIcono{
                height: 7vw;
            }
        }
    }

    .footer{
        p{
            font-size: 0.6rem;
        }
    }



    /* SOBRE MI */
    .contenedor{
        .contenedorBiografia{
            padding-bottom: 8%;
            padding-top: 5%;

            .biografiaImagen{
                width: 75vw;
            }

            .quiensoy{
                width: 90vw;

                .biografiaTitulo{
                    font-size: 0.9rem;
                }

                .biografiaDescripcion{
                    font-size: 1rem;
                    line-height: 1.3rem;
                }
            }
        
            .hazdetucuerpo{
                width: 90vw;                

                .biografiaTitulo{
                    font-size: 0.9rem;
                }

                .biografiaDescripcion{
                    font-size: 1rem;
                    line-height: 1.3rem;
                }
            }
        }
    }



    /* SOLICITAR */

    .contactame{
    
        .contactameForm{
            width: 80vw;
    
            h1{
                padding-bottom: 6%;
                font-size: 1.1rem;               
            }
    
            p{
                padding-bottom: 8%;
                font-size: 0.9rem;
            }
    
            .infocliente{
                width: 50vw;
                padding-bottom: 3%;
                padding-right: 11%;
            }
            
            .form{               
                padding: 2%;
                padding-bottom: 5%;
                padding-right: 5%;           
            }
            
            .form input, .form textarea{
                padding-left: 4%;
                width: 53vw;
                height: 4.5vh;
            }
            
            .form textarea{
                height: 15vh;
            }
    
            .botones input[type="submit"] {           
                width: 32vw;
                height: 6vh;
            }
        }
    }
}
