
/*RexxTV*/
.rexxtv{
    margin-top:15%;
    display: flex;
    align-content: center;
    justify-content: center;

    .rexxtvImagen{
        width: 70%;
    }

    .rexxtvImgMobile{
        display: none;
    }

}
