
/*RexxTV*/
.rexxtv{
    margin-top:15%;
    @include flex (flex, row, center, space-evenly);

    .rexxtvTexto{
        @include flex (flex, column, center, center);
        width:50vw;

        .rextvTit{
            @include textocard($size26, center, 4%);
            color: $letraZpezial;
        }
    
        .rextvdesc{
            @include textocard($size24, center, 10%);
            color: $letraZpezial;
        }

        .btn{
            margin-top: 10%;
        }
    }
}
