/*MIXINS*/
@mixin quiensoy($pad, $font, $color) {
    padding-bottom: $pad;
    font-size: $font;
    color: $color;
}

@mixin hazdetucuerpo($align, $font, $color) {
    text-align: $align;
    font-size: $font;
    color: $color;
}


/* SOBRE MI */
.contenedor{

    .contenedorBiografia{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 4%;
        padding-top: 4%;
    
        .biografiaImagen{
            width: 25%;
         }
    
         .quiensoy{
            width: 55vw;
            padding: 2%;
            border: solid 2px $colorDetashes;
            border-radius: 20px;
    
            .biografiaTituloUp{
               @include quiensoy(2%, $size18, $letraZpezial);
            }
            
            .biografiaDescripcion{
                text-align: justify;
                font-size: $size18;
                color: $letraZpezial;
            }
        }
    
        .hazdetucuerpo{
             @extend .quiensoy;

            .biografiaTitulo{
                padding-bottom: 2%;
                font-size: $size18;
                color: $letraZpezial;
            }
            
            .biografiaDescripcion{
                @include hazdetucuerpo(justify, $size18, $letraZpezial);
            }
        }              
    }
}




