
/* SOBRE MI */
.contenedor{

    .contenedorBiografia{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 4%;
        padding-top: 4%;
    
        .biografiaImagen{
            width: 25%;
         }
    
         .quiensoy{
            width: 55vw;
            padding: 2%;
            color: $letraZpezial;
            border-left: solid 3px $colorAlt;
    
            .biografiaTitulo{
               @include bio(justify, $size18, $letraZpezial);
               padding-top:2%;
            }
            
            .biografiaDescripcion{
                @include bio(justify, $size18, $letraZpezial);
            }
        }            
    }
}




