
$size10: 10 /16* 1rem;
$size12: 12 /16* 1rem;
$size14: 14 /16* 1rem;
$size16: 16 /16* 1rem;
$size18: 18 /16* 1rem;
$size20: 20 /16* 1rem;
$size22: 22 /16* 1rem;
$size24: 24 /16* 1rem;
$size26: 26 /16* 1rem;
$size28: 28 /16* 1rem;
$size30: 30 /16* 1rem;


$colorFondo: #111010;

$lettering: #003E00;

$letraZpezial: #E8F6D0;

$colorDetashes: #00C85F;

$colorAlt: #89df09;

