//aplicar 1 mixin y 1 extend.
//achicar letras en responsive
//seccion solicitar imagen de pesas de fondo, sacar delineado del input con pseudoclase
@import 'variables';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bodyRexxTR{
    color: $lettering;
    background-color: $colorFondo;
    
    h1, h2, h3{
        font-family: 'Righteous', cursive;
    }
    
    p {
        font-family: 'Tinos', serif;
        line-height: 1.5rem;
    }
    
    a {
        font-family: 'Tinos', serif;
        color:  $letraZpezial;
        text-decoration: none;
    }
}

/*INDEX*/

.portada img{
    width: 100%;
}

@import 'nav';

@import 'productos';

@import 'rexxtv';

@import 'contacto';


/* FOOTER */

.footer p{
    font-family: 'Tinos', serif;
    font-size: $size16;
    text-align: center;
    //background-color: $colorDetashes;
    color: $letraZpezial;
}

/*PAGINAS*/

@import 'sobremi';

@import 'solicitar';


/*MEDIA QUERIES*/

@import 'responsiveTablet';

@import 'responsiveMobile';