//achicar letras en responsive
//seccion solicitar imagen de pesas de fondo, sacar delineado del input con pseudoclase
@import 'variables';
@import 'mixins';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bodyRexxTR{
    color: $Letracard;
    background-color: $colorFondo;
    
    h1, h2, h3{
        font-family: 'Righteous', cursive;
    }
    
    p {
        font-family: 'Tinos', serif;
        line-height: 1.4rem;
    }
    
    a {
        font-family: 'Tinos', serif;
        color:  $letraZpezial;
        text-decoration: none;
    }
}

/*INDEX*/

.portada img{
    width: 100%;
    margin-bottom: 10%;
}

@import 'nav';

@import 'productos';

@import 'rexxtv';

@import 'footer';


/*PAGINAS*/

@import 'sobremi';

@import 'planes';

/* FOOTER PAGES */

.footerPages p{
    font-family: 'Tinos', serif;
    font-size: $size16;
    text-align: center;
    color: $letraZpezial;
}

/*MEDIA QUERIES*/

@import 'responsiveTablet';

@import 'responsiveMobile';