/*PLANES*/

.PlanesDeEntrenamiento{
    @include flex(flex, column, center, space-evenly);

    .contenedorTitPDE{
        background-image: url(../imagenes/pesasrusas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;

        .pDETitulo{
            @include bio(center, $size26, $letraZpezial);
            margin-top: 5%;
        }
    
        .pDESubtitulo{
            @include bio(center, $size24, $letraZpezial);
        }
    }
    

    .ContenedorPDE{
        @include flex(flex, row, center, space-evenly);
        margin-top: 6%;

        .planesDetalles{
            width: 30vw;
            height: 55vh;
            border-left: 3px solid $colorAlt;
            margin-top: 5%;
            margin-bottom: 10%;
    
            .nombrePlan{
                @include bio(center, $size20, $letraZpezial);
                margin: 3% 0;
            }
    
            .descripcionPlan{
                @include bio(center, $size20, $letraZpezial);
                margin-bottom: 0;
                padding:3% 5% 5%;
            }
    
            .queIncluye{
                list-style-type: none;
                @include bio(center, $size18, $letraZpezial);
                padding:0;
            }
        }
    }
}